.coqinu-tip-btn {
  background-color: #d65752;
  font-weight: bold;
  margin-bottom: 12px;
  margin-right: 8px;
  height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 9999px;
  color: #fbee91;
  font-size: 15px;
  cursor: pointer;
}

.coqinu-tip-btn:hover {
  background-color: rgba(231, 109, 103, 0.9);
}

.modal {
  display: none;
  position: absolute;

  z-index: 1;
  padding-top: 100px;
  right: 0;
  top: 0;
  width: 200;
  height: 300;
  overflow: auto;
  background-color: #d65752;
}

.modal.open {
  display: block;
}
